bed1/bed_s09544506_Scene.jpg
/bed1

/dining_chair1

/labels_bed

/mirror
/mirror_check
/mirror_lable

/GroundingDINO-main
/segment-anything-main
/plant1
/plant1_check
/plant1_label

/.pth

.vscode/

*.txt
*.tsx
*.xlsx
*.png
*.jpg
*.pth
local_gd_model/model/config.json
*.json
local_gd_model/model/model.safetensors
RT_DETR_Dataset.zip
*.zip
